---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";

const locale = Astro.currentLocale as "zh" | "en";

const introduction = {
  zh: "我是 cclin，一名钱包正在减肥的推荐系统工程师。",
  en: "I'm cclin, a recommendation system engineer whose wallet is still on a diet.",
};

const tools: { link: string; content: string; descrption: string }[] = [
  {
    link: "https://astro.build",
    content: "astro.js",
    descrption: " Website Framework",
  },
  {
    link: "https://unocss.dev",
    content: "unocss",
    descrption: "Styling Library",
  },
  {
    link: "https://katex.org",
    content: "katex",
    descrption: "Mathematical Formulas",
  },
  {
    link: "https://unifiedjs.com",
    content: "unifiedjs",
    descrption: "Markdown Rendering",
  },
  {
    link: "https://expressive-code.com",
    content: "expressive-code",
    descrption: "Code Blocks",
  },
];

export const getStaticPaths = (() => {
  return [{ params: { locale: undefined } }, { params: { locale: "en" } }];
}) satisfies GetStaticPaths;
---

<BaseLayout description={"Personal Introduction"} title={"CCLIN ABOUT"}>
  <article class="leading-relaxed">
    <h2 class="mb-4 text-2xl">Personal Introduction</h2>
    <p>{introduction[locale]}</p>
  </article>
  <hr class="my-8" />
  <h2 class="mb-4 text-2xl">About This Site</h2>
  <p>
    <h3 class="mt-2 text-xl">Tech Stack</h3>
    <ul>
      {
        tools.map(({ link, content, descrption }) => (
          <li class="underline">
            <a href={link}>
              {content} - {descrption}
            </a>
          </li>
        ))
      }
    </ul>
  </p>
  <div class="mt-4">
    <p>
      The source code is on <a
        class="underline"
        href="https://github.com/cclinet/cclinet.github.io">github</a
      >.
    </p>
    <p>
      Deployed on <a class="underline" href="https://www.cloudflare.com/zh-cn/"
        >cloudflare page</a
      >.
    </p>

    <hr class="my-8" />
    <h2 class="mb-4 text-2xl">Contact Me</h2>
    <ul class="pb-6"><li>WeChat: cclinet</li><li>Email: me@cclin.org</li></ul>
  </div>
</BaseLayout>
