---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { locales, SITE_TITLE } from "@/consts";
import type { GetStaticPaths } from "astro";
import { getLocalePath } from "@/i18n/utils";

export const getStaticPaths = (() => {
  return locales.map((locale) => ({
    params: { locale: getLocalePath(locale) },
    props: { locale },
  }));
}) satisfies GetStaticPaths;

const property = [
  {
    key: "ASN",
    value: "AS4242420066",
  },
  {
    key: "Multi-Protocol BGP",
    value: "IPv6 & IPv4",
  },
  {
    key: "DN42 IPv4",
    value: "172.20.172.66",
  },
  {
    key: "DN42 IPv6",
    value: "fd00:c10a:a225::66",
  },
  {
    key: "DN42 IPv6 Link-Local",
    value: "fe80::66",
  },
  {
    key: "Endpoint",
    value: "dn42-tokyo.cclin.top:<2+你的 AS 后四位>",
  },
  {
    key: "PublicKey",
    value: "0pUh1kUfiaw8Zwnej/Yi4nHd2nEobIFy5kGpwROwGHw=",
  },
];
---

<BaseLayout description={"dn42"} title={SITE_TITLE}>
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th
          class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
          scope="col">Property</th
        >
        <th
          class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase"
          scope="col">Value</th
        >
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {
        property.map(({ key, value }) => (
          <tr class="hover:bg-gray-100">
            <td class="px-6 py-4 text-sm font-medium text-gray-800">{key}</td>
            <td class="dn42-value cursor-copy px-6 py-4 text-end text-sm font-medium">
              {value}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <script>
    const buttons = document.querySelectorAll("td.dn42-value");
    buttons.forEach((button) => {
      button.addEventListener("click", async () => {
        await navigator.clipboard.writeText(button.textContent!.trim());
      });
    });
  </script>
</BaseLayout>
