@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "LXGWWenKaiMonoLite-Regular";
  src: url("/fonts/LXGWWenKaiMonoLite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-lxgw: "LXGWWenKaiMonoLite-Regular";
}
