---
import BaseLayout from "../../layouts/BaseLayout.astro";
import posts from "../../components/posts";
import TitleList from "../../components/TitleList.astro";

export async function getStaticPaths() {
  const tagToPostsMap = posts
    .filter((post) => !post.data.draft)
    .reduce((acc: { [key: string]: typeof posts }, post) => {
      (post.data.tags || []).forEach((tag) => {
        acc[tag] = [...(acc[tag] || []), post];
      });
      return acc;
    }, {});

  return Object.entries(tagToPostsMap).map(([tag, posts]) => ({
    params: { tag },
    props: { posts },
  }));
}

const { tag } = Astro.params;
const { posts: cur_posts } = Astro.props;
---

<BaseLayout>
  <h2 class="mb-8 text-xl">Tag: {tag}</h2>
  <TitleList posts={cur_posts} />
</BaseLayout>
