---
import BaseLayout from "../../layouts/BaseLayout.astro";
import posts from "../../components/posts";
const tags = posts
  .filter((post) => !post.data.draft)
  .flatMap((post) => post.data.tags || [])
  .reduce<{ tag: string; count: number }[]>((acc, item) => {
    const existingTag = acc.find((entry) => entry.tag === item);
    if (existingTag) {
      existingTag.count += 1;
    } else {
      acc.push({ tag: item, count: 1 });
    }
    return acc;
  }, []);

tags.sort((a, b) => b.count - a.count);
const rank_number = Map.groupBy(tags, ({ count }) => count);
console.log(rank_number);
// const sorted = result.map(({ tag, count }) => ({ tag, count }));
// console.log(sorted);
---

<BaseLayout title="CCLIN TAGS">
  <h2 class="text-xl">Tags</h2>
  <ul class="mt-8 grid grid-cols-2 gap-4">
    {
      tags.map(({ tag, count }) => (
        <li class="text-zinc-400">
          <a class="underline" href={`/tags/${tag}`}>
            {tag}: {count}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
