---
import BaseLayout from "../../layouts/BaseLayout.astro";
import posts from "../../components/posts";
const tags = posts
  .filter((post) => !post.data.draft)
  .flatMap((post) => post.data.tags || []);
const result = Object.entries(
  tags.reduce<Record<string, number>>((acc, item) => {
    acc[item] = (acc[item] || 0) + 1;
    return acc;
  }, {}),
);
---

<BaseLayout>
  <h2>Tags</h2>
  <canvas
    data-tags={JSON.stringify(result)}
    height="200"
    id="word-cloud-container"
    width="400"></canvas>
</BaseLayout>
<script>
  import WordCloud from "wordcloud";
  document.addEventListener("astro:page-load", () => {
    const container = document.getElementById(
      "word-cloud-container",
    ) as HTMLCanvasElement;
    const tags = JSON.parse(container.getAttribute("data-tags")!) as [
      string,
      number,
    ][];

    function callbackFn(item: [string, number, ...unknown[]]) {
      window.location.href = `/tags/${item[0]}`;
    }
    WordCloud(container, {
      list: tags,
      click: (item) => {
        callbackFn(item);
      },
      // gridSize: 50,
      weightFactor: 10,
    });
  });
</script>
