---
interface Props {
  content: string;
  clarification: string;
}
const { content, clarification } = Astro.props;
---

<style>
  /* 容器样式 */
  .tooltip-container {
    position: relative;
    display: inline-block;
  }

  /* 默认隐藏小框 */
  .tooltip-box {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); /* 黑色背景 */
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    bottom: 100%; /* 小框显示在元素上方 */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
  }

  /* 鼠标移上去时显示小框 */
  .tooltip-container:hover .tooltip-box {
    display: block;
  }
</style>

<span
  class="tooltip-container underline-dashed underline"

  >{content}<span class="tooltip-box">{clarification}</span></span
>
