---
import { getRelativeLocaleUrl } from "astro:i18n";
import ZH from "@/svgs/zh.svg";
import EN from "@/svgs/en.svg";

const languages = [
  { locale: "zh", icon: ZH },
  { locale: "en", icon: EN },
];
const currentLocale = Astro.currentLocale as "zh" | "en";
const regex = new RegExp(`^/${currentLocale}`);
const currentUrlWithoutLocale = Astro.url.pathname.replace(regex, "");
---

<div class="flex justify-center rounded-md lg:justify-start" role="group">
  {
    languages.map(({ locale, icon: Icon }) => (
      <a
        class="text-sm font-medium"
        href={getRelativeLocaleUrl(locale, currentUrlWithoutLocale)}
      >
        <Icon
          size={24}
          class="h-4 lg:h-6"
          class:list={{ "cursor-default": currentLocale === locale }}
        >
          {locale}
        </Icon>
      </a>
    ))
  }
</div>
