---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<hgroup
  class="lg:item-start  cursor-pointer text-center duration-800 ease-in-out lg:items-start lg:border-l-2 lg:border-zinc-200 lg:text-left lg:[writing-mode:vertical-lr]"
>
  <a class="duration-800 ease-in-out lg:pb-12 lg:py-4 flex flex-col gap-4" href="/">
    <div class="font-header text-4xl font-extrabold">{SITE_TITLE}</div>
    <div class="font-header text-xl font-extrabold lg:">{SITE_DESCRIPTION}</div>
  </a>
</hgroup>
