---

---

<nav class="flex flex-col text-center font-bold">
  <ul>
    <a href="/"> <button id="home" class="underline">文章</button></a>
    <a href="/about"> <button id="about" class="underline">关于</button></a>
  </ul>
  <ul></ul>
</nav>
