---
import { getRelativeLocaleUrl } from "astro:i18n";
import Github from "@/svgs/github.svg";
import Rss from "@/svgs/rss.svg";
import Travellings from "@/svgs/travellings.svg";
import Zhihu from "@/svgs/zhihu.svg";
const ui = {
  zh: {
    "nav.posts": "文章",
    "nav.tags": "标签",
    "nav.portal": "朋友",
    "nav.about": "关于",
  },
  en: {
    "nav.posts": "Posts",
    "nav.tags": "Tags",
    "nav.portal": "Portal",
    "nav.about": "About",
  },
} as const;

const locale = Astro.currentLocale as keyof typeof ui;

const SocialLinks = [
  {
    href: "/rss.xml",
    name: "rss",
    icon: Rss,
  },
  {
    href: "https://github.com/cclinet",
    name: "github",
    icon: Github,
  },
  {
    href: "https://www.zhihu.com/people/probius33",
    name: "zhihu",
    icon: Zhihu,
  },
  {
    href: "https://www.travellings.cn/go.html",
    name: "travellings",
    icon: Travellings,
  },
] as const;
---

<nav class="flex flex-col gap-4 text-center font-bold">
  <ul
    class="text-3.5 lg:text-4 flex flex-row justify-center gap-2 lg:flex-col lg:items-start"
  >
    <li>
      <a href={getRelativeLocaleUrl(locale)}>{ui[locale]["nav.posts"]}</a>
    </li>
    <li>
      <a href={getRelativeLocaleUrl(locale, "tags")}>{ui[locale]["nav.tags"]}</a
      >
    </li>
    <li>
      <a href={getRelativeLocaleUrl(locale, "portal")}
        >{ui[locale]["nav.portal"]}</a
      >
    </li>
    <li>
      <a href={getRelativeLocaleUrl(locale, "about")}
        >{ui[locale]["nav.about"]}</a
      >
    </li>
  </ul>
</nav>

<ul class="h6 flex flex-row justify-center gap-1">
  {
    SocialLinks.map(({ href, name, icon: Icon }) => (
      <li>
        <a
          class="not-underline-hover inline-flex items-center"
          href={href}
          target="_blank"
          title={name}
        >
          <Icon size={24} />
        </a>
      </li>
    ))
  }
</ul>
