---
import { getRelativeLocaleUrl } from "astro:i18n";
import Github from "@/svgs/github.svg";
import Rss from "@/svgs/rss.svg";
import Travellings from "@/svgs/travellings.svg";
import Zhihu from "@/svgs/zhihu.svg";
const ui = {
  zh: {
    "nav.posts": "文章",
    // "nav.math": "数学",
    "nav.tags": "标签",
    "nav.portal": "朋友",
    "nav.about": "关于",
  },
  en: {
    "nav.posts": "Posts",
    // "nav.math": "Math",
    "nav.tags": "Tags",
    "nav.portal": "Portal",
    "nav.about": "About",
  },
} as const;

const locale = Astro.currentLocale as keyof typeof ui;
const NavLinks = [
  { href: "/", name: "nav.posts" },
  // { href: "/math", name: "nav.math" },
  { href: "/tags", name: "nav.tags" },
  { href: "/portal", name: "nav.portal" },
  { href: "/about", name: "nav.about" },
] as const;

const SocialLinks = [
  {
    href: "/rss.xml",
    name: "rss",
    icon: Rss,
  },
  {
    href: "https://github.com/cclinet",
    name: "github",
    icon: Github,
  },
  {
    href: "https://www.zhihu.com/people/probius33",
    name: "zhihu",
    icon: Zhihu,
  },
  {
    href: "https://www.travellings.cn/go.html",
    name: "travellings",
    icon: Travellings,
  },
] as const;
---

<nav class="flex flex-col gap-4 text-center font-bold">
  <ul class="flex flex-row justify-center gap-2 lg:flex-col lg:items-start">
    {
      NavLinks.map(({ href, name }) => (
        <li class="hover:scale-120">
          <a href={getRelativeLocaleUrl(locale, href)}>{ui[locale][name]}</a>
        </li>
      ))
    }
  </ul>
</nav>

<ul class="flex flex-row justify-center gap-1 lg:justify-start">
  {
    SocialLinks.map(({ href, name, icon: Icon }) => (
      <li>
        <a
          aria-label={name}
          class="inline-flex items-center"
          href={href}
          target="_blank"
        >
          <Icon width={24} height={24} />
        </a>
      </li>
    ))
  }
</ul>
