---
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="flex justify-between p-2">
    <h1><a href="/" class="text-center font-normal">{SITE_TITLE}</a></h1>
    <nav class="flex justify-center items-center space-x-2">
      <a href="/"> <button id="home">首页</button></a>
      <a href="/about"> <button id="about">关于</button></a>
    </nav>
  </div>
</header>
