---
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class="mx-auto flex flex-col items-center lg:ml-10 lg:items-start">
  {
    posts.map((post) => (
      <li class="mb-4 p-2 hover:transition">
        <a href={`/posts/${post.id}/`}>
          <div class="text-lg underline">{post.data.title}</div>
          <div class="font-thin text-center text-xs lg:text-left">
            <FormattedDate date={post.data.pubDate} />
          </div>
        </a>
      </li>
    ))
  }
</ul>
