---
import BaseLayout from "@/layouts/BaseLayout.astro";
import posts from "@/posts";
import TitleList from "@/components/TitleList.astro";
import { locales } from "@/consts";
import { getLocalePath } from "@/i18n/utils";

export async function getStaticPaths() {
  const pages = locales.flatMap((locale) => {
    const tagToPostsMap = posts
      .filter((post) => !post.data.draft && locale === post.locale)
      .reduce((acc: { [key: string]: typeof posts }, post) => {
        (post.data.tags || []).forEach((tag) => {
          acc[tag] = [...(acc[tag] || []), post];
        });
        return acc;
      }, {});

    return Object.entries(tagToPostsMap).map(([tag, posts]) => ({
      params: { locale: getLocalePath(locale), tag },
      props: { posts },
    }));
  });
  return pages;
}

const { tag } = Astro.params;
const { posts: curPosts } = Astro.props;
---

<BaseLayout>
  <h2 class="mb-8 text-xl">Tag: {tag}</h2>
  <TitleList posts={curPosts} />
</BaseLayout>
