---
import BaseLayout from "@/layouts/BaseLayout.astro";
import posts from "@/components/posts";
import type { GetStaticPaths } from "astro";
import { getRelativeLocaleUrl } from "astro:i18n";
const tags = posts
  .filter((post) => !post.data.draft)
  .flatMap((post) => post.data.tags || [])
  .reduce<{ tag: string; count: number }[]>((acc, item) => {
    const existingTag = acc.find((entry) => entry.tag === item);
    if (existingTag) {
      existingTag.count += 1;
    } else {
      acc.push({ tag: item, count: 1 });
    }
    return acc;
  }, [])
  .sort((a, b) => b.count - a.count);

  export const getStaticPaths = (() => {
  return [{ params: { locale: undefined } }, { params: { locale: "en" } }];
}) satisfies GetStaticPaths;
---

<BaseLayout title="CCLIN TAGS">
  <h2 class="mb-8 text-xl">Tags</h2>
  <ul class="grid grid-cols-2 gap-4">
    {
      tags.map(({ tag, count }) => (
        <li class="text-zinc-900">
          <a class="underline" href={getRelativeLocaleUrl(Astro.currentLocale!,`/tags/${tag}`)}>
            {tag}: {count}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
