---
import BaseHead from "../components/BaseHead.astro";

import SiteTitle from "../components/header/SiteTitle.astro";
import SiteNavigation from "../components/header/SiteNavigation.astro";
const { title }: { title: string } = Astro.props.frontmatter || Astro.props;
const { description } = Astro.props || "";
---

<!doctype html>
<html lang="zh">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="h-100vh max-w-1200px min-w-390px mx-a"
    p="7.5 lg:(y-0 x-20)"
    lg="grid gap-x-6 cols-[3fr_1fr] rows-[1fr_9rem]"
  >
    <header
      class="transition-swup-header flex flex-col gap-2.5"
      m="7.5 lg:(x-0 t-20 b-4)"
      lg="row-1-2 col-2-3 justify-between items-start"
    >
      <SiteTitle />
      <SiteNavigation />
    </header>

    <main class="lg:row-start-1 lg:row-end-3 lg:col-start-1 lg:col-end-2">
      <slot />
    </main>
    <footer class="lg:row-start-2 lg:row-end-3 lg:col-start-2 col-end-3">
      footer
    </footer>
  </body>
</html>
