---
import BaseHead from "../components/BaseHead.astro";

import SiteTitle from "../components/header/SiteTitle.astro";
import SiteNavigation from "../components/header/SiteNavigation.astro";
const { title }: { title: string } = Astro.props.frontmatter || Astro.props;
const { description } = Astro.props || "";
---

<!doctype html>
<html lang="zh">
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body
    class="h-100vh max-w-1200px min-w-390px mx-a p-7.5"
    lg="py-0 px-20 grid gap-x-6 cols-[3fr_1fr] rows-[1fr_9rem]"
  >
    <header
      class="flex flex-col gap-2.5"
      lg="row-1-2 col-2-3 justify-between items-start"
      m="7.5 lg:(x-0 t-20 b-4)"
    >
      <SiteTitle />
      <SiteNavigation />
    </header>

    <main lg="row-start-1 row-end-3 col-start-1 lg:col-end-2 py-20">
      <slot />
    </main>
    <footer
      class="col-end-3 mt-5 text-xs lg:col-start-2 lg:row-start-2 lg:row-end-3"
    >
      <p property="cc:license">
        This work is licensed under <a
          class="inline-flex"
          href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
          rel="license noopener noreferrer"
          target="_blank">CC BY-NC 4.0</a
        >
      </p>
    </footer>
  </body>
</html>
