---
import BaseHead from "@/components/BaseHead.astro";
import SiteTitle from "@/components/header/SiteTitle.astro";
import SiteNavigation from "@/components/header/SiteNavigation.astro";
import CC from "@/components/header/CC.astro";
import "../styles/global.css";
import LanguagePicker from "@/components/header/LanguagePicker.astro";
// import ThemePicker from "@/components/header/ThemePicker.astro";

const { title }: { title: string } = Astro.props.frontmatter || Astro.props;
const { description } = Astro.props ?? "";
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body
    class="mx-auto min-h-screen max-w-7xl min-w-sm overflow-y-scroll px-2 lg:grid lg:grid-cols-[3fr_1fr] lg:grid-rows-[calc(100vh-4rem)_auto_auto] lg:gap-x-6 lg:px-20 lg:py-0"
  >
    <header
      class="flex flex-col gap-2.5 p-4 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2 lg:mx-0 lg:h-[calc(100vh-4rem)] lg:justify-between lg:py-20"
    >
      <SiteTitle />
      <SiteNavigation />
      <LanguagePicker />
      <!-- <ThemePicker /> -->
    </header>

    <main
      class="relative lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-3 lg:pt-20"
    >
      <slot />
    </main>
    <footer
      class="col-start-2 col-end-3 row-start-2 row-end-3 mt-5 pb-6 lg:mt-0 lg:ml-10 lg:pb-0"
    >
      <CC />
    </footer>
  </body>
</html>
