---
import BaseHead from "../components/BaseHead.astro";

import Header from "../components/Header.astro";
const { title }: { title: string } = Astro.props.frontmatter || Astro.props;
const { description } = Astro.props || "";
---

<!doctype html>
<html lang="zh">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="flex flex-col h-full">
      <Header />
      <slot />
    </div>
  </body>
</html>
