---
import BaseHead from "@/components/BaseHead.astro";
import SiteTitle from "@/components/header/SiteTitle.astro";
import SiteNavigation from "@/components/header/SiteNavigation.astro";
import CC from "@/components/header/CC.astro";

const { title }: { title: string } = Astro.props.frontmatter || Astro.props;
const { description } = Astro.props ?? "";
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <BaseHead description={description} title={title} />
  </head>
  <body
    class="min-h-100vh max-w-1200px min-w-390px mx-a px-2 overflow-y-scroll font-sans"
    lg="py-0 px-20 grid gap-x-6 cols-[3fr_1fr] rows-[calc(100vh_-_4rem)_auto_auto]"
  >
    <header
      class="p-4 flex flex-col gap-2.5"
      lg="row-1-2 col-2-3 justify-between items-start mx-0 py-20 h-[calc(100vh_-_4rem)]"
    >
      <SiteTitle />
      <SiteNavigation />
    </header>

    <main lg="row-start-1 row-end-3 col-start-1 lg:col-end-2 pt-20">
      <slot />
    </main>
    <footer
      class="col-start-2 col-end-3 row-start-2 row-end-3 mt-5 pb-6"
      lg="mt-0 pb-0 ml-10"
    >
      <CC />
    </footer>
  </body>
</html>
