---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"mathCollection">["data"];

const { title, pubDate } = Astro.props;
---

<BaseLayout title={title}>
  <article>
    <div class="mt-3 flex justify-between text-sm">
      <FormattedDate date={pubDate} />
    </div>
    <div class="flex gap-x-4 text-sm text-zinc-500"></div>

    <hr />

    <div class="mx-auto prose mt-8 mb-10 prose-zinc lg:prose-xl" id="content">
      <slot />
    </div>
  </article>
</BaseLayout>
